Audio Transcriber.json
{
  "name": "Audio Transcriber",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        0
      ],
      "id": "b284223e-b22f-4bd3-a487-66204f83f64b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -16
      ],
      "id": "2e63db89-71fe-4a43-ba96-4f02881f2ab7",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "FOLDER_ID_UNPROCESSED",
            "mode": "list",
            "cachedResultName": "audio_unprocessed"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -160,
        0
      ],
      "id": "5d29b51c-cf25-4c6c-9765-b9cc55232c55",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        0
      ],
      "id": "0a60d923-090f-4428-8794-3fadde20fb0f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "FOLDER_ID_PROCESSED",
          "mode": "list",
          "cachedResultName": "audio_processed"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        -16
      ],
      "id": "ba685fc5-ac89-49a3-bc33-6b08bced31bd",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Jesteś parserem intencji użytkownika do kalendarza.\nTwoim zadaniem jest WYODRĘBNIĆ SENS polecenia, a nie przepisywać je dosłownie.\n\nZasady:\n- Nie używaj czasowników typu: utwórz, ustaw, dodaj, zaplanuj\n- \"title\" ma być KRÓTKĄ nazwą zadania lub wydarzenia\n- \"title\" ma opisywać CO, a nie AKCJĘ\n- Normalizuj język do formy rzeczownikowej\n- Zwracaj WYŁĄCZNIE poprawny JSON\n- Nie dodawaj żadnego tekstu poza JSON\n- Wylicz prawidłową datę względem dzisiejszego dnia: {{ $now.toISODate() }}, {{ $now.setLocale('pl').toFormat('cccc') }}\n\nTekst do analizy:\n{{ $json.data }}\n\nZwróć JSON w formacie:\n{\n  \"title\": string,\n  \"date\": \"YYYY-MM-DD\"\n}\nZwracaj WYŁĄCZNIE poprawny JSON. Nie dodawaj żadnego tekstu poza JSON.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        832,
        -16
      ],
      "id": "2a899ce0-8695-490e-bce8-6bbb5d8f84d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        832,
        192
      ],
      "id": "c35f164a-41a4-4265-b4da-e4dca082d6a6",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ADDRESS_EMAIL",
          "mode": "list",
          "cachedResultName": "ADDRESS_EMAIL"
        },
        "start": "={{ $json.date }}",
        "end": "={{ $json.date }}",
        "additionalFields": {
          "allday": "yes",
          "summary": "={{ $json.title }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1456,
        -16
      ],
      "id": "48df8b75-1088-43f6-8d5f-c8cdf741aca6",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://whisper:9000/asr?encode=true&task=transcribe&language=pl&output=txt",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        -16
      ],
      "id": "d2f14b50-a03d-4768-9265-c33a27e398e5",
      "name": "WhisperAPI"
    },
    {
      "parameters": {
        "jsCode": "const output = JSON.parse($input.first().json.output)\n\nreturn output"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -16
      ],
      "id": "ca09d929-eef9-4c3d-9b39-e0fe1494ebbd",
      "name": "getTask"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "WhisperAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "getTask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhisperAPI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getTask": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "306094f5-ac80-45ed-99fa-0d00eb58f2f5",
  "meta": {
  },
  "id": "yk7Zzfom4CdIj3ET",
  "tags": []
}
